@model WebMVC.Models.BookViewModel

@{
    ViewData["Title"] = "Detail";
}


<div class="row">
    <div class="col-sm-3">
        <img style="max-width: 248px; max-height: 346px; position: absolute; top: 0px; left: 0px; width: 248px; height: 346px;"
             src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.ImageContent))" />
    </div>
    <div class="col-sm-9">
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Name, new { @class = "font: bold;" })
        </div>
        <div class="col-sm-9">
            <span>by</span> @Html.DisplayFor(model => model.AuthorName)
        </div>
        <div class="col-sm-9">
            <span>£</span> @Html.DisplayFor(model => model.Price)
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
