@model BookDetailViewModel


    <div class="col-sm-3" style="padding-bottom:15px; padding-bottom:15px;">
        
        <a
           id="Next"
           asp-controller="books"
           asp-action="Detail"
           asp-route-bookId="@Model.Id">
                <img src="@Model.Media.FirstOrDefault()?.Url"/>
        </a>
    </div>
<div class="col-sm-9">
    <div>
        <a id="Next"
           asp-controller="books"
           asp-action="Detail"
           asp-route-bookId="@Model.Id">
                <span style="font-weight: 700;">@Model.Name</span>
        </a>
        
    </div>
    <div>
        <span>by</span> @Html.DisplayFor(model => model.AuthorName)
    </div>
    <div>
        <span>£</span>@Html.DisplayFor(model => model.Price)
    </div>
</div>

<hr style="width:100%;">

