@model PaginationInfo

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.TotalPages >= 2 && Model.ActualPage > 1)
        {
            <li class="page-item">
                <a class="page-link @Model.Previous"
                   id="Previous"
                   asp-controller="books"
                   asp-action="Index"
                   asp-route-page="@(Model.ActualPage - 1)"
                   asp-route-searchTerm="@(Model.SearchTerm)"
                   aria-label="Previous">
                    Previous
                </a>
            </li>
        }

        @if (Model.TotalPages > 1)
        {
            <li class="page-item">
                <a class="page-link @Model.Next"
                   id="Next"
                   asp-controller="books"
                   asp-action="Index"
                   asp-route-page="@(Model.ActualPage + 1)"
                   asp-route-searchTerm="@(Model.SearchTerm)"
                   aria-label="Next">
                    @(Model.ActualPage + 1)
                </a>
            </li>
        }
        @if (Model.TotalPages > 2)
        {
            <li class="page-item">
                <a class="page-link @Model.Next"
                   id="Next"
                   asp-controller="books"
                   asp-action="Index"
                   asp-route-page="@(Model.ActualPage + 2)"
                   asp-route-searchTerm="@(Model.SearchTerm)"
                   aria-label="Next">
                    @(Model.ActualPage + 2)
                </a>
            </li>
        }
        @if (Model.TotalPages > 3)
        {
            <li class="page-item">
                <a class="page-link @Model.Next"
                   id="Next"
                   asp-controller="books"
                   asp-action="Index"
                   asp-route-page="@(Model.ActualPage + 3)"
                   asp-route-searchTerm="@(Model.SearchTerm)"
                   aria-label="Next">
                    @(Model.ActualPage + 3)
                </a>
            </li>
        }

        @if (Model.TotalPages > 1 && Model.ActualPage != Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link @Model.Next"
                   id="Next"
                   asp-controller="books"
                   asp-action="Index"
                   asp-route-page="@(Model.ActualPage + 1)"
                   asp-route-searchTerm="@(Model.SearchTerm)"
                   aria-label="Next">
                    Next
                </a>
            </li>
        }
    </ul>
</nav>

